.wrap{
    display: flex;
}

.n2matrix {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    border:1px solid black;
    border-width: 0 1px 0 1px ;
    margin: 10px;
}
.n2matrixItem {
    flex: 1 auto;
    width: 50%;
    box-sizing:border-box;
    text-align:center;
    line-height:20px;
    padding:5px;
}

.nmatrix {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    border:1px solid black;
    border-width: 0 1px 0 1px ;
    margin: 10px;
}
.nmatrixItem {
    flex: 1 auto;
    width: 100%;
    box-sizing:border-box;
    text-align:center;
    line-height:20px;
    padding:5px;
}

.rwrap{
    display: flex;
    flex-direction: row;
}

.rmatrix{
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border:1px solid black;
    border-width: 0 1px 0 1px ;
    margin: 10px;
}

.rmatrixItem1{
    box-sizing:border-box;
    text-align:center;
    line-height:20px;
    padding:5px;
    width: 50%;
}

.rmatrixItem2{
    box-sizing:border-box;
    text-align:center;
    line-height:20px;
    padding:5px;
    width: 50%;
}

.qmatrix{
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    border:1px solid black;
    border-width: 0 1px 0 1px ;
    margin: 10px;
}

.qmatrixItem{
    box-sizing:border-box;
    text-align:center;
    line-height:20px;
    padding:5px;
    width: auto;
}

.umatrix{
    width: 410px;
}

.ReportWrap{
    padding: 30px 0 0 30px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px #00c6d0;
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.linedata{
    font-weight: 600;
}

.line{
    width: 90%;
    margin: 30px;
}

.AvgError{
    margin: 0 20px 0 0;
}
